<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>131664108375-a3q45m6jqaoiug9fcmo4s1d405h6j4nr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.131664108375-a3q45m6jqaoiug9fcmo4s1d405h6j4nr</string>
	<key>API_KEY</key>
	<string>AIzaSyBfqzZ1ZAhlAeAZ5LW0oIZJjntPCtB4TeQ</string>
	<key>GCM_SENDER_ID</key>
	<string>131664108375</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tnTrips</string>
	<key>PROJECT_ID</key>
	<string>tn-trips</string>
	<key>STORAGE_BUCKET</key>
	<string>tn-trips.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:131664108375:ios:e507abd2958a097ce23c12</string>
</dict>
</plist>